body, html{
	margin: 0px;
	height: 100%;
	overflow-y: hidden;
}
*{
	font-family: monospace;
}
div{
	position: absolute;
	top: 10%;
	z-index: 3;
	width: 90%;
}
.cont{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 5%;
}
.button {
padding: 1.5% 3%;
color: white;
font-size: 2rem;
background-color: #02d463;
border-radius: 5px;

transition-property: background-color;
transition-duration: 0.2s;
}
a{
text-decoration: none;
}
.button:hover {
border: 2px solid#02D463;
background-color: transparent;
color: #02d463;
}

@media only screen and (max-width: 768px) {
	.cont{
		position: absolute;
		top: 40%;
	}
	.button{
		padding: 50px 90px;
		font-size: 3rem;
	}

}